<div class="banner">
    <div class="container text-center">
      <h1>Movie Lists</h1>
      <p>Add your own movie list below</p>
      <%= link_to "Add a movie list", new_list_path, class: "btn btn-primary mt-3 mb-5 rounded-pill border border-white py-3 px-5" %>
  </div>
</div>

<div class="container mt-3">

  <div class="main-container">

    <% @lists.each do |list| %>
      <% if list.photo.key? %>
        <div class="card-product">
          <%= cl_image_tag list.photo.key, crop: :fill %>
          <div class="card-product-infos">
            <h2><%= link_to list.name, list_path(list) %></h2>
          </div>
        </div>
      <% else %>
        <div class="card-product">
          <div class="card-product-infos">
            <h2><%= link_to list.name, list_path(list) %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
